{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Справка
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/app.min.css' %}">
{% endblock %}

{% block main %}
<main class="main">
    <div class="container">
        <section class="help">
            <h1 class="help__heading">Справка</h1>
            <article class="help__article">
                <h1 class="help__article-heading">Получение заграничного паспорта</h1>
                <p class="help__article-text">Для получения паспорта для выездов за границу вам нужно и при оформлении его через интернет, и при личном обращении в УФМС собрать следующие документы:</p>

                <p class="help__article-text"><span class="bold">1)</span> Анкету-заявление на выдачу паспорта. Создать и выслать его в УФМС можно с помощью портала www.gosuslugi.ru. Или скачать образец по ссылке, сохранить его в компьютере, заполнить и распечатать:</p>

                <p class="help__article-text help__article-text--indent">действующий паспорт гражданина Российской Федерации;</p>
                <p class="help__article-text help__article-text--indent">квитанцию об оплате госпошлины;</p>
                <p class="help__article-text help__article-text--indent">два фото для биометрического паспорта, или три для документа старого образца. Цветные или черно-белые - значения не имеет. Главное условие - снимки должны быть матовыми, в овале с растушевкой. Фотография для биометрического документа делается специальным аппаратом в УФМС. Снимки, принесенные с собой, нужны для анкеты в архив;</p>
                <p class="help__article-text help__article-text--indent">справка из военкомата или военный билет (для мужчин 18-27 лет);</p>
                <p class="help__article-text help__article-text--indent">оформленное в установленном порядке разрешение от командования - для служащих действующей армии Российской Федерации;</p>
                <p class="help__article-text help__article-text--indent">старый заграничный паспорт, если не окончен срок его действия.</p>

                <p class="help__article-text"><span class="bold">2)</span> С комплектом документов отправляйтесь в Управление Федеральной миграционной службы по месту прописки. Адреса, телефоны и график работы пермских подразделений посмотрите на сайте <a class="help__article-link"  href="https://permufms.ru" target="_blank">www.permufms.ru</a>. Все вопросы по поводу получения паспорта для выездов заграницу отправляйте по электронной почте <span class="bold">upvsguvd@permregion.ru</span>.</p>

                <p class="help__article-text"><span class="bold">3)</span> Проверив правильность оформления и подлинность документов и анкеты, сотрудники районного управления отправят ваше заявление в отдел по выдаче заграничных паспортов. Через три-четыре недели после этого будет напечатан ваш новый документ. Узнать о его готовности можно, позвонив по телефону в районное отделение.</p>

                <p class="help__article-text"><span class="bold">4)</span> Для оформления заграничного паспорта через интернет зарегистрируйтесь на сайте
                    <a class="help__article-link" href="https://gosuslugi.ru" target="_blank">www.gosuslugi.ru</a>. Заполните анкету-заявление и прикрепите к ней фотографию. Нажмите на кнопку "Отправить". Ваши данные уйдут на проверку в главное пермское Управление ФМС. Через одну-четыре недели с вами свяжутся сотрудники районного паспортного стола и попросят предъявить оригиналы документов. Через три-семь дней после этого вам выдадут новый заграничный паспорт.</p>
            </article>
            <article class="help__article">
                <h1 class="help__article-heading">Об оформлении визы</h1>
                <p class="help__article-text"><span class="bold">Некоторые</span> страны предусматривают вариант оформления визы по факту прибытия в страну в тот же день. В этом случае нужно будет только по прибытии в аэропорту, при проходе через пропускную систему, предъявить соответствующий заграничный паспорт, и некоторые документы, которые подтверждают право человека на получение определенного вида разрешения. Могут потребовать для туристов бронь номера в отеле или медицинскую страховку, а также в большинстве государств требуют подтверждение финансовой состоятельности человека.</p>

                <p class="help__article-text"><span class="bold">При отсутствии</span> подозрений турист без проблем получает необходимый штамп, и имеет право на пребывание в стране в течении конкретного и определенного типом визы и законодательством периода времени. Если в визе было отказано, то человек имеет право потребовать письменное пояснение по этому вопросу, и в этом письме должны содержаться соответствующие и адекватные, аргументированные объяснения причины отказа. Отказ должен опираться на официальные, установленные законодательством требования и правила.</p>

                <p class="help__article-text"><span class="bold">Некоторые</span> государства требуют оформления визы заранее. В частности, рабочие или служебные визы оформляются в течении длительного времени и требуют большого количества документов, потому очень актуально обращаться за документом на разрешение на въезд в консульство страны еще по месту своего проживания. Таким образом разрешение выдается еще до того, как человек покидает свою страну. То же касается визы шенген — ее нужно заранее оформить, и она позволяет передвигаться в границах Шенгенской зоны достаточно свободно в течении всего срока действия выданного разрешительного документа.</p>

                <p class="help__article-text"><span class="bold">Продлить свое</span> пребывание в стране возможно получением новой визы, пересекая государственную границу туда и обратно в обе стороны. Кроме того, возможно обратиться за продлением визы к консульским сотрудникам, что особенно актуально для людей с рабочей или студенческой визой. Уточнить, на каких условиях выдают визу, а также на какой срок, возможно только при уточнении конкретной страны, куда намеревается поехать человек, и при учете соответствующих целей поездки и документов, имеющихся на руках у человека. Таким образом, у каждой страны свои визовые требования и режимы. Необходимо уточнять о характере визовых требований конкретной страны.</p>

            </article>
            <article class="help__article">
                <h1 class="help__article-heading">Памятка по сохранению здоровья</h1>
                <p class="help__article-text"><span class="bold">В странах</span> Евразии, Африки, Южной Америки, Океании с экваториально-тропическим климатом широко распространены инфекционные и паразитарные заболевания, многие из которых не встречаются или стали редкими в Российской Федерации. Теплый влажный климат способствует длительному выживанию микроорганизмов в окружающей среде, активному выплоду насекомых и гельминтов.</p>

                <p class="help__article-text"><span class="bold">Чаще всего</span> инфекционные и паразитарные заболеваний передаются через воду, загрязненные и недостаточно обработанные продукты питания, кровососущих насекомых (комаров, блох, слепней, москитов, мошек, клещей и других), при контакте с больным человеком или загрязненным объектом окружающей среды, половым путем.</p>

                <p class="help__article-text"><span class="bold">Тропические инфекции</span> часто сопровождаются поражением кишечника, кожи, глаз, различных систем и органов человека, нередко протекают в тяжелой форме и трудно поддаются лечению.</p>

                <p class="help__article-text"><span class="bold">Кроме того</span>, в странах с жарким климатом имеется множество ядовитых растений и животных, способных нанести существенный и непоправимый вред здоровью человека.</p>

                <p class="help__article-text"><span class="bold">В целях</span> обеспечения санитарно-эпидемиологического благополучия населения и санитарной охраны территории Российской Федерации при планировании отдыха в преддверие туристического сезона важно заблаговременно уточнять в территориальных органах Роспотребнадзора и у туроператоров сведения об эпидемиологической ситуации в стране планируемого пребывания.</p>

                <p class="help__article-text"><span class="bold">В целях</span> профилактики инфекционных и паразитарных заболеваний необходимо соблюдать меры предосторожности, чтобы не допустить заражения и последующего развития заболевания:</p>
                <p class="help__article-text help__article-text--indent">употреблять для еды только ту пищу, в качестве которой вы уверены; - употреблять для питья только гарантированно безопасную воду и напитки (питьевая вода и напитки в фабричной упаковке, кипяченая вода);</p>
                <p class="help__article-text help__article-text--indent">мясо, рыба, морепродукты должны обязательно подвергаться термической обработке; - желательно не пользоваться услугами местных предприятий общественного питания и не пробовать незнакомые продукты, не покупать еду на рынках и лотках, не пробовать угощения, приготовленные местными жителями;</p>
                <p class="help__article-text help__article-text--indent">в случае необходимости приобретать продукты в фабричной упаковке в специализированных магазинах; - овощи и фрукты мыть безопасной водой и обдавать кипятком;</p>
                <p class="help__article-text help__article-text--indent">перед едой следует всегда тщательно мыть руки с мылом; - при купании в водоемах и бассейнах не допускать попадания воды в рот;</p>
                <p class="help__article-text help__article-text--indent">в целях защиты от укусов насекомых рекомендуется применять средства, отпугивающие и уничтожающие насекомых (репелленты и инсектициды), а также в помещениях обязательно засетчивать окна и двери.</p>
            </article>
            <article class="help__article">
                <h1 class="help__article-heading">Рекомендации МИД</h1>
                <p class="help__article-text"><span class="bold">Отправляясь за границу</span>, помните, что вы можете оказаться в незнакомом для себя окружении — в стране с другим климатом, иными нормами поведения в общественных местах, требованиями к внешнему виду, непривычной едой, особенным графиком работы организаций и учреждений. Поэтому следует заранее ознакомиться с особенностями, характерными для государства, которое планируете посетить. Это поможет вам правильно подготовиться к поездке, взять с собой необходимые вещи. Не лишним будет почитать отзывы других людей о пребывании в конкретной стране, городе или гостинице.

                <p class="help__article-text"><span class="bold">Не поленитесь перед</span> отъездом проверить документы (паспорт, визу, билеты, страховку и т.п.), сделать их копии. Сообщите родственникам или друзьям о своей поездке, оставьте им копию турпутевки и паспорта. Могут пригодиться телефоны посольства и ближайшего консульского учреждения Российской Федерации в предполагаемой стране пребывания.

                <p class="help__article-text"><span class="bold">Нельзя забывать</span> о необходимости соблюдать и уважать местные законы, традиции и обычаи. Некоторые безобидные на первый взгляд действия, высказывания или даже жесты в той или иной ситуации могут быть неприемлемыми в стране, куда вы приехали, и впоследствии омрачить или полностью испортить путешествие. Находясь за рубежом, как, впрочем, и у себя на родине, никогда не забывайте о разумной осторожности и осмотрительности.

                <p class="help__article-text"><span class="bold">Отправляясь в страны</span>, где не редки чрезвычайные ситуации природного характера (землетрясения, цунами, наводнения и т.п.) или в государства с нестабильной общественно-политической обстановкой, следует заблаговременно изучить правила поведения в экстремальной обстановке.

                <p class="help__article-text"><span class="bold">Заранее узнайте</span> о том, как нужно действовать в случае утраты паспорта, при дорожно-транспортном происшествии, нападении или краже, задержании или аресте, а также о том, как не стать жертвой торговли людьми.

                <p class="help__article-text"><span class="bold">Имейте в виду</span>, что дипломатические представительства и консульские учреждения Российской Федерации за рубежом по заявлениям российских граждан принимают необходимые меры по защите их прав и законных интересов, но не могут уберечь от всех неприятностей, которые случаются во время заграничных путешествий.</p>
            </article>
            <article class="help__article">
                <h1 class="help__article-heading">Пребывание за рубежом</h1>
                <p class="help__article-text"><span class="bold">Люди из</span> стран умеренного климата нуждаются в адаптации в странах с тропическим и субтропическим климатом.</p>

                <p class="help__article-text"><span class="bold">Для предупреждения</span> солнечного и теплового ударов необходимо носить одежду из легких и натуральных тканей, летний головной убор, смазывать открытые участки кожи кремом от загара, увеличить количество потребления жидкостей, ограничить прием алкогольных напитков.</p>

                <p class="help__article-text"><span class="bold">Во время</span> отдыха следует быть особенно осторожными при контакте с животными, так как они являются источниками многих инфекционных и паразитарных болезней. Не трогайте кошек, собак и других животных! Это опасно практически во всех странах.</p>

                <p class="help__article-text"><span class="bold">Если Вы</span> при контакте с животным получили укус, оцарапывание или просто ослюнение, тщательно промойте эту часть тела водой с мылом. Немедленно обратитесь к врачу для решения вопроса о проведении прививок против бешенства и столбняка.</p>

                <p class="help__article-text"><span class="bold">Другую опасность</span> представляют укусы ядовитых змей, насекомых (скорпион, каракурт, тарантул, сколопендра) и обитателей тропических морей (ядовитые медузы, пиявки, рыбы), которые могут привести к серьезным нарушениям Вашего здоровья.</p>

                <p class="help__article-text"><span class="bold">Большинство опасных</span> для человека кровососущих насекомых (блохи, клещи, комары, москиты, слепни, мошки и мухи) являются переносчиками тропических инфекционных и паразитарных заболеваний.</p>

                <p class="help__article-text"><span class="bold">Для предупреждения</span> осложнений во время отдыха на природе необходимо избегать контактов с животными, пресмыкающимися и насекомыми, одевать одежду с длинными рукавами, брюки, ботинки с плотными гетрами или носками, применять репелленты. В вечернее и ночное время надо пользоваться электрическим фонариком, даже в городах.</p>
            </article>
            <article class="help__article">
                <h1 class="help__article-heading">Выезд за границу несовершеннолетних граждан</h1>
                <p class="help__article-text"><span class="bold">Выезд ребенка совместно с родителями</span></p>

                <p class="help__article-text"><span class="bold">1.</span> Несовершеннолетний гражданин Российской Федерации, следующий совместно хотя бы с одним из родителей, может выезжать из Российской Федерации по своему заграничному паспорту.</p>

                <p class="help__article-text"><span class="bold">2.</span> В обязательном порядке заграничный паспорт оформляется ребенку, когда ему исполняется 14 лет, до этого срока – по желанию родителей.</p>

                <p class="help__article-text"><span class="bold">3.</span> Несовершеннолетний гражданин Российской Федерации до 14 лет, следующий совместно хотя бы с одним из родителей, может выезжать из Российской Федерации, если он вписан в заграничный паспорт выезжающего вместе с ним родителя. В паспорт родителя в этом случае ОБЯЗАТЕЛЬНО должна быть вклеена фотография ребенка, независимо от его возраста, на которой должна стоять печать паспортно-визовой службы. Отсутствие фотографии или печати является основанием для отказа ребенку в пересечении границы.</p>

                <p class="help__article-text"><span class="bold">4.</span> В государства – участники Содружества Независимых Государств (СНГ), с которыми Российская Федерация имеет межправительственные соглашения о взаимных поездках граждан (Белоруссия, Украина, Казахстан, Молдавия, Армения), дети до 14 лет, следующие совместно хотя бы с одним из родителей, могут выезжать по свидетельствам о рождении с подтверждением наличия российского гражданства (соответствующий штамп или вкладыш в свидетельство о рождении). Иначе в пересечении границы России и во въезде в страну временного пребывания ребенку могут отказать.</p>

                <p class="help__article-text"><span class="bold">5.</span> При следовании несовершеннолетнего российского гражданина через государственную границу Российской Федерации совместно с одним из родителей, предъявлять письменное согласие второго родителя не требуется, если только от него ранее в пограничные органы не поступало заявления о своем несогласии на выезд из Российской Федерации своих детей.</p>

                <p class="help__article-text"><span class="bold">6.</span> Если у несовершеннолетнего ребенка и выезжающего совместно с ним родителя разные фамилии или если ребенок в возрасте до 14 лет пересекает границу по отдельному заграничному паспорту, рекомендуем взять с собой нотариально заверенную копию свидетельства о рождении — для подтверждения родства. На практике отсутствие такого подтверждения служило основанием для отказа ребенку в пересечении границы.</p>

                <p class="help__article-text"><span class="bold">Выезд ребенка без сопровождения родителей</span></p>

                <p class="help__article-text"><span class="bold">Несовершеннолетний российский</span> гражданин, выезжающий из Российской Федерации без сопровождения родителей, должен иметь при себе кроме заграничного паспорта нотариально оформленное согласие родителей на его выезд за границу с указанием срока выезда и государства (государств), которое (которые) он намерен посетить.</p>
                <p class="help__article-text"><span class="bold">При этом</span> достаточно согласия одного из родителей, если от второго родителя не поступало заявления о его несогласии на выезд своих детей за рубеж. Однако необходимо учитывать, что посольства иностранных государств, в случае оформления визы на ребенка, выезжающего без родителей, могут потребовать нотариально оформленное согласие от обоих родителей. Например, такая практика характерна для всех стран, входящих в Шенгенское соглашение, а также для Англии, США, Канады. При этом оригиналы такого согласия остаются в посольстве.</p>
                <p class="help__article-text"><span class="bold">Поэтому рекомендуем</span> при оформлении выезда несовершеннолетнего за рубеж без сопровождения родителей сразу оформлять согласия родителей на его выезд в нескольких экземплярах (в зависимости от количества получаемых виз и необходимости предъявления оригиналов согласия на паспортном контроле).</p>
            </article>
        </section>
    </div>
</main>
{% endblock %}
