html
  box-sizing: border-box
  scroll-behavior: smooth
*, *:after, *:before
  box-sizing: inherit

body
  margin: 0
  font-family: 'Comfortaa', sans-serif
  line-height: 1.65
  overflow-x: hidden
  // Removes blue background on action
  -webkit-tap-highlight-color: transparent

.icon
  width: 30px
  transition: all .25s

.container
  width: 75%
  margin: 0 auto

ul, li
  padding: 0
  margin: 0

ul
  list-style-type: none

h1, h2, h3, h4, h5, h6, p
  margin: 0

a
  display: block
  text-decoration: none
  color: var(--accent-color)

img
  max-width: 100%
  height: auto
  object-fit: cover
  display: block


// <-------- FONTS -------->
// <--- Gotham Pro --->
//@font-face
//  font-family: "Gotham Pro"
//  src: url("../fonts/GothamPro/Regular/GothamProRegular.eot")
//  src: url("../fonts/GothamPro/Regular/GothamProRegular.eot?#iefix") format("embedded-opentype"),
//  url("../fonts/GothamPro/Regular/GothamProRegular.woff") format("woff"),
//  url("../fonts/GothamPro/Regular/GothamProRegular.ttf") format("truetype")
//  font-style: normal
//  font-weight: normal



