// mix-blend-mode: difference
//.filters__arrow
//  display: none
//  height: 100%
//  width: 40px
//  height: 40px
//  position: relative
//  .filters__arrow-line
//    width: 100%
//    position: absolute
//    height: 4px
//    background-color: black
//    top: 50%
//    transform: translateY(-50%)
//  .filters__arrow-line:after,
//  .filters__arrow-line:before
//    background-color: black
//    content: ''
//    position: absolute
//    left: -3px
//    width: 45%
//    height: 100%
//  .filters__arrow-line:after
//    transform: translateY(-130%) rotate(-45deg)
//  .filters__arrow-line:before
//    transform: translateY(130%) rotate(45deg)

html
  box-sizing: border-box
  scroll-behavior: smooth
*, *:after, *:before
  box-sizing: inherit

\:root
  --font: 'Comfortaa', sans-serif
  --header-height: 60px
  --range-height: 20px
  --range-bgc: #d3d3d3
  --thumb-bgc: #04AA6D

.tours
  align-self: start
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(calc(max(20%, 250px)), 1fr))
  justify-content: space-between
  grid-gap: 15px
  &__item
    cursor: pointer
    overflow: hidden
    &:hover
      .tours__item-price
        border-top: 2px solid black
        background-color: black
        color: white
      .tours__item-desc
        border: 2px solid black
        border-top: none
      .tours__item-image-wrapper:after
        background-color: rgba(0, 0, 0, .6)
  &__item-image-wrapper
    position: relative
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, .0)
      transition: background-color 0.5s
  &__item-image
    width: 100%
    max-height: 250px
  &__item-destination-city
    // z-index при затемнении картинки
    z-index: 1
    position: absolute
    bottom: 5%
    left: 5%
    font-size: 25px
    color: white
  &__item-destination-country
    font-size: 18px
    font-weight: 700
  &__item-desc
    padding-top: 20px
    border: 2px solid lightgray
    border-top: none
    transition: border .25s
  &__item-desc-inner
    padding-left: 5%
  &__item-nights, &__item-rating
    display: block
  &__item-price
    display: block
    text-align: center
    padding: 7px 0
    font-size: 18px
    font-weight: 700
    color: rgba(0, 0, 0, .9)
    border-top: 2px solid lightgray
    transition-property: background-color, border
    transition-duration: .55s
  .rate
    label:before
      --star-fz: 17px
    label:hover:before,
    label:hover ~ label:before
      color: lightgrey
    input:checked ~ label:before
      color: orange

.hamburger
  height: 100%
  display: none
  &__inner
    align-self: center
    cursor: pointer
    position: relative
    width: 25px
    height: 16px
  &__line
    position: absolute
    width: 100%
    height: 2px
    border-radius: 5px
    background-color: black

    transition-property: transform
    transition-duration: 0.15s
    transition-timing-function: ease

    &:nth-child(1)
      top: 0
      transition: transform .8s, top .5s
    &:nth-child(2)
      top: 50%
      transform: translateY(-50%)
      transition: opacity .3s, transform .6s
    &:nth-child(3)
      bottom: 0
      transition: transform .8s, bottom .5s

  &--animate &__line
    &:nth-child(1)
      top: 50%
      transform: translateY(-50%) rotate(-45deg)
    &:nth-child(2)
      opacity: 0
      transform: translateX(100%)
    &:nth-child(3)
      bottom: 50%
      transform: translateY(50%) rotate(45deg)

input[type="range"]
  -webkit-appearance: none
  width: 100%
  height: var(--range-height)
  background-color: var(--range-bgc)
  outline: none
  &:focus, &:hover, &:active
    background-color: var(--range-bgc)
  &::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: var(--range-height)
    height: var(--range-height)
    background-color: var(--thumb-bgc)
    cursor: pointer
  &::-moz-range-thumb
    width: var(--range-height)
    height: var(--range-height)
    background-color: var(--thumb-bgc)
    cursor: pointer


button, input, optgroup, select, textarea
  margin: 0
  padding: 0
  font-family: var(--font)
  border: none
  background-image: none
  background-color: transparent
  box-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none
  -webkit-appearance: none
  &:hover, &:active, &:focus
    outline: none
    border: none
    background-image: none
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    -webkit-appearance: none


.dropdown
  display: none
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.3)
  &--active
    z-index: 2
    display: block
    position: absolute
    background-color: white
  &__item
    font-size: 14px
    padding: 15px 20px
    font-weight: 600
    border-bottom: 1px solid lightgrey
    &:hover
      background-color: #efefef
    &--active
      background-color: #efefef
      font-weight: 700

.rate
  display: inline-block
  border: 0
  padding: 0
  input
    display: none
  label
    float: right
  label:before
    --star-fz: 25px
    font-size: var(--star-fz)
    display: inline-block
    margin: 0
    cursor: pointer
    font-weight: 900
    font-family: "Font Awesome 5 Free", sans-serif
    content: "\f005" /* full star */
    color: lightgrey
  .half:before
    width: calc(var(--star-fz) - 7px)
    overflow: hidden
    position: absolute
    content: "\f089"

  label:hover:before,
  label:hover ~ label:before
    color: lighten(#04AA6D, 10%)  /* color previous stars on hover */
  input:checked ~ label:before
    color: #04AA6D

  ///* Hover highlights */
  //input:checked + label:hover:before,
  //input:checked ~ label:hover:before, /* highlight current and previous stars */
  //input:checked ~ label:hover ~ label:before, /* highlight previous selected stars for new rating */
  //label:hover ~ input:checked ~ label:before /* highlight previous selected stars */
  //  color: red
.go-top
  cursor: pointer
  position: fixed
  top: 0
  bottom: 0
  right: 0
  width: 7%
  transition: transform .5s
  &__inner
    font-size: 16px
    opacity: .3
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    transform: translateX(100%)
    transition-property: background-color, opacity, transform
    transition-duration: .6s
  &:hover
    .go-top__inner
      opacity: .9
      transform: translateX(0) !important
      background-color: rgba(grey, .1)
.bold
  color: black
  font-weight: 700
.overlay
  position: fixed /* Sit on top of the page content */
  width: 100% /* Full width (cover the whole page) */
  top: var(--header-height)
  right: 0
  bottom: 0
  left: 100%
  transition: left .5s
  background-color: rgba(0, 0, 0, .8) /* Black background with opacity */
  z-index: 2 /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer /* Add a pointer on hover */
  &--show
    left: 0
    &:before, &:after
      z-index: 2
      content: ''
      width: 20px
      height: 3px
      border-radius: 12px
      position: absolute
      top: 50%
      left: 17.5%
      animation: x-opacity .4s forwards
      animation-delay: .4s
      background-color: transparent
      @keyframes x-opacity
        to
          background-color: lightseagreen
    &:after
      transform: translate(-50%, -50%) rotate(45deg)
    &:before
      transform: translate(-50%, -50%) rotate(-45deg)

.heading
  font-size: 25px
  margin-bottom: 25px

.body
  position: static
  display: grid
  grid-template-areas: "header" "main" "footer"
  min-height: 100vh
  --accent-green: #34E0A1
  margin: 0
  font-family: var(--font)
  line-height: 1.65
  overflow-x: hidden
  overflow-y: scroll
  // Removes blue background on action
  -webkit-tap-highlight-color: transparent
  &--scroll-lock
    // UPD: контент не прыгает при скроле
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    overflow-y: scroll

.dot
  color: green

.container
  width: clamp(300px, 95%, 1400px)
  margin: 0 auto
  &--mini
    width: clamp(300px, 95%, 1150px)


ul, li
  padding: 0
  margin: 0

ul
  list-style-type: none

h1, h2, h3, h4, h5, h6, p
  margin: 0

a
  display: block
  text-decoration: none
  color: var(--accent-color)

img
  max-width: 100%
  height: auto
  object-fit: cover
  display: block

@mixin track()
  width: 100%
  height: 100%
  background-color: var(--range-bgc) /* get rid of Firefox track background */

@mixin thumb()
  border: none /* get rid of Firefox thumb border */
  width: var(--range-height)
  height: var(--range-height)
  border-radius: 0 /* get rid of Firefox corner rounding */
  background-color: var(--thumb-bgc)
  pointer-events: auto

.wrap
  --dif: calc(var(--max) - var(--min))
  display: grid
  grid-template: repeat(2, max-content) 20px/ 1fr 1fr
  position: relative

  &:before, &:after
    content: ''
    z-index: -1
    grid-column: 1/ span 2
    grid-row: 3
    height: 100%
    background-color: var(--range-bgc)

  &:before
    margin-left: calc((var(--a) - var(--min)) / var(--dif)*100%)
    width: calc((var(--b) - var(--a)) / var(--dif)*100%)

  &:after
    margin-left: calc((var(--b) - var(--min)) / var(--dif)*100%)
    width: calc((var(--a) - var(--b)) / var(--dif)*100%)


  [id='multi-lbl']
    grid-column: 1/ span 2

  .sr-only
    position: absolute
    clip-path: inset(50%)

  input[type='range']
    grid-column: 1/ span 2
    grid-row: 3
    pointer-events: none
    background: none

    //&::-webkit-slider-runnable-track
    //  @include track
    &::-moz-range-track
      @include track

    &::-webkit-slider-thumb
      @include thumb
    &::-moz-range-thumb
      @include thumb

  output
    grid-row: 2
    position: relative
    font-weight: 700
    .dash
      position: absolute
      left: 70%
    &:before
      counter-reset: c var(--c)
      content: counter(c)

table
  border-collapse: collapse
  td, th
    border: 1px solid black

  
      
// <-------- FONTS -------->
// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal (Regular)
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)

 <--- Comfortaa --->
@font-face
  font-family: "Comfortaa"
  src: url("../fonts/Comfortaa/Light/Comfortaa-Light.ttf") format("truetype")
  font-style: normal
  font-weight: 300

@font-face
  font-family: "Comfortaa"
  src: url("../fonts/Comfortaa/Regular/Comfortaa-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Comfortaa"
  src: url("../fonts/Comfortaa/Medium/Comfortaa-Medium.ttf") format("truetype")
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Comfortaa"
  src: url("../fonts/Comfortaa/SemiBold/Comfortaa-SemiBold.ttf") format("truetype")
  font-style: normal
  font-weight: 600

@font-face
  font-family: "Comfortaa"
  src: url("../fonts/Comfortaa/Bold/Comfortaa-Bold.ttf") format("truetype")
  font-style: normal
  font-weight: 700


