@import "initial"

// <--- Шапка --->
.header
  grid-area: header
  font-weight: 700
  margin-bottom: 50px
  &__body
    display: flex
    align-items: center
    height: var(--header-height)
  &__logo
    margin-right: auto
    height: var(--header-height)
    padding: 5px 0
  &__logo-image
    max-height: 100%
  &__nav
    display: flex
  &__item
    margin-left: calc(min(1.5vw, 20px))
    border-radius: 20px
    transition: background-color .35s
    // Наведение
    &:hover
      background-color: #efefef
    // Последний элемент
    &:last-child
      background-color: black
      .header__link
        color: white
      &:hover
        background-color: var(--accent-green)
        .header__link
          color: black
    // Активный элемент
    &--active
      background-color: #efefef
      &:hover
        background-color: lighten(#efefef, 2%)
  &__link
    padding: 6px 12px
    transition: color .35s
    color: black



// <--- Основной контент --->
.main
  grid-area: main
  //  <-- index.html -->
  .find-tour
    &__left
      position: relative
      z-index: 1
      max-width: 750px
    &__body
      height: 370px
      background-color: #eafaf4
      position: relative
      border-radius: 12px
      padding:
        top: 25px
        bottom: 50px
        left: calc(min(60px, 4%))
        right: calc(min(60px, 4%))
    &__image-wrapper
      background-image: url("../img/home_hero_got_illustration.svg")
      background-repeat: no-repeat
      background-size: contain
      position: absolute
      right: 0
      bottom: -80px
      height: 389px
      width: 585px
    &__heading
      margin-bottom: 30px
    &__booking
      display: flex
      flex-direction: row
      background-color: white
      border-radius: 12px
    &__form
      display: flex
      flex-direction: row
    &__form-item
      position: relative
      height: 120px
      width: 170px
      text-align: center
      border-right: 1px solid #efefef
      &:nth-child(3), &:nth-child(4)
        width: calc(min(150px, 25%))
        .find-tour__form-input
          cursor: default
          width: 30px
          padding: 0
        .fa-plus, .fa-minus
          font-size: 11px
          padding: 15px
          position: relative
          top: -3px
          &:hover
            cursor: pointer
            color: lightseagreen
    &__form-label
      height: 40px
      line-height: 40px
      display: block
      font-size: 13px
      font-weight: 700
      color: rgba(0, 0, 0, .8)
    &__form-input
      cursor: pointer
      font-family: 'Comfortaa', sans-serif
      font-size: 18px
      font-weight: 700
      text-transform: uppercase
      text-align: center
      padding: 0 15px
      width: 100%
      height: 80px
    &__form-submit
      cursor: pointer
      border-bottom-right-radius: 12px
      border-top-right-radius: 12px
      font-family: 'Comfortaa', sans-serif
      color: white
      width: calc(min(200px, 26%))
      background-color: black
      transition: color .25s
      display: flex
      justify-content: center
      align-items: center
      &:hover
        color: var(--accent-green)
    &__autocomplete-list
      z-index: 1
      position: absolute
      top: 90%
      left: 0
      right: -65%
      border-radius: 0.6rem
      background-color: white
      box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15)
      border: 1px solid rgba(33, 33, 33, 0.07)
      overflow: hidden
    &__autocomplete-item, .no_result
      cursor: pointer
      font-weight: 600
      padding: 10px
      color: rgba(0, 0, 0, .7)
      background-color: rgba(255, 255, 255, 1)
      white-space: nowrap
      /* Overflow beginning of string */
      overflow: hidden
      text-overflow: ellipsis
      direction: rtl
      &--selected
        color: rgba(0, 0, 0, 1)
        background-color: var(--accent-green)


  .advantages
    margin-top: 110px
    background-color: #f1f2f8
    &__body
      position: relative
      display: flex
      flex-wrap: wrap
      justify-content: space-around
    &__item
      margin:
        top: clamp(20px, 8vw, 50px)
        bottom: clamp(20px, 10vw, 70px)
      position: relative
      width: clamp(280px, 30%, 340px)
      text-align: center
      // Зеленая линия
      &:after
        content: ''
        position: absolute
        left: 50%
        bottom: -20px
        height: 2px
        width: 20px
        transform: translateX(-50%)
        background-color: lightseagreen
        transition-property: width, background-color
        transition-duration: .5s
      &:hover:after
        background-color: green
        width: 50%
    &__item-heading
      margin-top: 25px
      font-size: 18px
    &__item-text
      margin-top: 5px
      font-size: 14px
      font-weight: 400
      color: rgba(0, 0, 0, .7)
    &__item-image-wrapper
      display: flex
      justify-content: center
    &__item-image
      height: 256px


  .popular-tours
    margin-top: 30px

  .faq
    margin-top: 20px
    &__item
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    &__item-heading
      cursor: pointer
      position: relative
      border-radius: 12px
      font-family: 'Comfortaa', sans-serif
      font-size: 17px
      color: #444
      padding:
        top: 20px
        bottom: 20px
        left: clamp(10px, 3%, 25px)
      background-color: #efefef
      width: 100%
      text-align: left
      transition: background-color 0.4s
      &:hover, &:active
        background-color: #ccc
      // <-- Стрелка -->
      &:after, &:before
        content: ''
        position: absolute
        top: 50%
        right: 20px
        width: 3px
        height: 12px
        background-color: lightseagreen
        transition: transform .5s
      &:after
        transform: translate(-110%, -50%) rotate(-45deg)
      &:before
        transform: translate(110%, -50%) rotate(45deg)
      &--active
        background-color: #efefef
        &:after
          transform: translate(110%, -50%) rotate(-45deg)
        &:before
          transform: translate(-110%, -50%) rotate(45deg)
    &__item-answer
      display: none
      overflow: hidden
      padding:
        top: 20px
        right: calc(max(20px, 10%))
        bottom: 20px
        left: calc(min(45px, 10%))


  //  <-- about.html -->
  .about
    &__heading
      font-size: 32px
      text-align: center
    &__text
      margin: 25px 0


  //  <-- help.html -->
  .help
    &__heading
      margin-bottom: 40px
      font-size: 32px
      text-align: center
    &__article
      margin-bottom: 30px
    &__article-heading
      margin-bottom: 10px
    &__article-text
      margin: 8px 0
      padding:
        left: calc(min(40px, 4%))
        right: calc(min(30px, 3%))
      &--indent
        position: relative
        padding-left: calc(4% + 15px)
        &:before
          position: absolute
          left: calc(4%)
          content: '-'

    &__article-link
      display: inline-block
      color: blue
      text-decoration: underline
      text-underline-position: under
      &:hover
        text-decoration: none


  //  <-- find-tour.html -->
  &__body
    margin-top: 10px
    display: grid
    grid-column-gap: 60px
    grid-template-columns: minmax(150px, 15%) 3fr
    grid-template-rows: 45px auto
    grid-template-areas: "filters sort" "filters tours"
    .filters
      grid-area: filters
      &__list
        margin-bottom: 30px
      &__heading
        display: none
        font-size: 15px
        font-weight: 600
        text-align: right
      &__item
        position: relative
        padding: 15px 0
        border-bottom: 1px solid lightgrey
        &:first-child
          padding-top: 0
        &:last-child
          border-bottom: none
      &__item-label
        margin-bottom: 5px
        display: block
        color: rgba(0, 0, 0, .8)
        font-weight: 700
        font-size: 15px
      &__item-input
        width: 100%
        border: 1px solid var(--select-border)
        font-size: 17px
        cursor: pointer
        font-weight: 700
      &__autocomplete-list
        z-index: 1
        position: absolute
        top: 90%
        left: 0
        right: 0
        border-radius: 0.6rem
        background-color: white
        box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15)
        border: 1px solid rgba(33, 33, 33, 0.07)
        overflow: hidden
      &__autocomplete-item, .no_result
        cursor: pointer
        font-weight: 600
        padding: 10px
        color: rgba(0, 0, 0, .7)
        background-color: rgba(255, 255, 255, 1)
        white-space: nowrap
        /* Overflow beginning of string */
        overflow: hidden
        text-overflow: ellipsis
        direction: rtl
        &--selected
          color: rgba(0, 0, 0, 1)
          background-color: var(--accent-green)
      &__item-content
        padding-left: 5px
        font-weight: 700
        font-size: 17px
        color: rgba(0, 0, 0, 1)
      &__submit
        font-weight: 700
        background-color: black
        color: white
        font-size: 17px
        height: 40px
        line-height: 40px
        text-align: center
        width: 100%
        transition-property: background-color, color
        transition-duration: .5s
        &:hover
          background-color: var(--accent-green)
          color: black
    .tours
      grid-area: tours
      margin-top: 0
    .sort
      grid-area: sort
      justify-self: start
      position: relative
      cursor: pointer
      margin-bottom: 20px

      &__list
        width: 180px
      &__heading
        font-weight: 600
        font-size: 15px
        padding-right: 20px

        // <-- Стрелка -->
        &:after, &:before
          content: ''
          position: absolute
          top: 50%
          right: 0
          width: 2px
          height: 8px
          background-color: lightseagreen
          transition: transform .5s
        &:after
          transform: translate(-110%, -50%) rotate(-45deg)
        &:before
          transform: translate(110%, -50%) rotate(45deg)
        &--active
          &:after
            transform: translate(110%, -50%) rotate(-45deg)
          &:before
            transform: translate(-110%, -50%) rotate(45deg)


  //  <-- tour.html -->
  .tour-info
    display: flex
    margin-bottom: 100px
    &__image-wrapper
      min-width: 400px
      max-width: 500px
    &__image
      width: 100%
    &__desc
      padding:
        left: 5%
    &__name
      margin-bottom: 10px
    &__text
    &__rate
      display: flex
      align-items: center
      margin: 10px 0
      label:before
        cursor: default
      label:hover:before,
      label:hover ~ label:before
        color: lightgrey  /* color previous stars on hover */
      input:checked ~ label:before
        color: #04AA6D
    &__rate-link
      text-decoration: underline black
      &:hover
        text-decoration: none
    &__rate-link-span
      padding: 0 5px
      color: blue
    &__table
      border-collapse: collapse
      width: clamp(300px, 100%, 500px)
      font-size: 14px
    &__table-tbody
    &__table-tr
      .tour-info__table-td:last-child
        width: 70%
        font-size: 16px
        font-weight: bold
        text-align: center
    &__table-td
      border: 1px solid black
      padding: 8px 15px


  .article
    margin: 75px auto
    &__name
      margin-bottom: 20px
      text-align: center
    &__desc
      color: rgba(0, 0, 0, .8)
      &:first-letter
        padding-left: clamp(10px, 5%, 55px)


  .review
    margin-top: 100px
    &__heading
      text-align: center
    &__username
      font-size: 17px
      font-weight: bold
    &__list
    &__item
      margin: 40px 0
    &__headline
      margin-bottom: 15px
      display: flex
      align-items: center
    &__rate
      margin-left: 15px
      label:before
        cursor: default
      label:hover:before,
      label:hover ~ label:before
        color: lightgrey  /* color previous stars on hover */
      input:checked ~ label:before
        color: #04AA6D
    &__text
      color: rgba(0, 0, 0, .8)


  .add-review
    margin-top: 100px
    &__heading
      margin: 15px 0
    &__form
    &__rate
      label:before
        --star-fz: 30px
    &__submit
      margin-left: auto
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      font-size: 17px
      font-weight: 700
      padding: 15px 25px
      background-color: black
      color: white
      transition: background-color .35s
      &:hover
        background-color: var(--accent-green)
        color: black
    &__text
      border: 1px solid lightgrey
      width: 100%
      min-height: 200px
      resize: none
      overflow: hidden
      font-size: 17px
      padding: 20px
      font-weight: 600
    &__bottom
      margin-top: 10px
      display: flex

  .login, .register
    padding: 20px 40px
    width: clamp(300px, 60%, 450px)
    margin: 200px auto
    border-radius: 20px
    background-color: #eafaf4
    &__heading
      text-align: center
      margin-bottom: 15px
    &__form
    &__input, [name='password1'], [name='password2']
      display: block
      width: 100%
      padding: 15px
      background-color: white
      border-radius: 12px
    &__label
      margin: 10px 0
      font-weight: 700
      font-size: 13px
      display: block
      color: rgba(0, 0, 0, .6)
    &__submit
      margin-top: 25px
      cursor: pointer
      border-radius: 12px
      width: 100%
      height: 50px
      font-size: 16px
      color: white
      background-color: black
      transition: background-color .35s
      &:hover
        font-weight: 700
        color: black
        background-color: var(--accent-green)
    &__link
      display: inline-block
      color: blue
      text-decoration: underline
      &:hover
        text-decoration: none
    &__register, &__login
      font-size: 14px

    &__errors
      margin: 15px 0
    &__error, .errorlist
      font-size: 15px
      color: red
// <--- Подвал --->
.footer
  grid-area: footer
  margin-top: 100px
  width: 100%
  padding: 40px 0
  color: white
  font-size: 17px
  background-color: black
  &__inner
    display: grid
    grid-template-columns: minmax(210px, 1fr) 1fr minmax(350px, 2fr)
    grid-column-gap: 30px
    grid-row-gap: 10px
    align-items: center
  &__address,
  &__email,
  &__schedule,
  &__phone,
  &__privacy-policy,
  &__copyright
    margin: 8px 0
    cursor: pointer
    transition: color .35s
    &:hover
      color: var(--accent-green)


// Disable overlay when orientation is changing
@media (min-width: 860px)
  .body
    &--scroll-lock
      overflow: scroll
  .overlay
    &--show
      left: 100%


@media (max-width: 860px)
  .datepicker
    z-index: 2
    position: fixed
    top: calc(var(--header-height))
    right: 1.5%
  .hamburger
    display: flex
  .go-top
    display: none
  input[type="range"]
    height: calc(var(--range-height) + 20px)
    background-color: white
    padding: 0 5px
    &:active, &:focus, &:hover
      background-color: white
    &::-webkit-slider-thumb
      width: calc(var(--range-height) + 4px)
      height: calc(var(--range-height) + 4px)
    &::-moz-range-thumb
      width: calc(var(--range-height) + 4px)
      height: calc(var(--range-height) + 4px)


  .header
    font-weight: 700
    &__menu
      z-index: 2
      position: fixed
      background-color: var(--accent-green)
      bottom: 0
      left: 100%
      right: 0
      top: var(--header-height)
      transition: left .45s
      &--active
        left: clamp(50px, 35%, 300px)
    &__nav
      height: 100%
      display: flex
      flex-direction: column
    &__item
      overflow: hidden
      margin-left: 0
      border-radius: 0
      transition: background-color .35s
      background-color: transparent
      &--active
        background-color: black
        .header__link
          color: white
        &:hover
          .header__link
            color: var(--accent-green)
      &:last-child
        margin-top: auto
        &:hover
          background-color: black
          .header__link
            color: var(--accent-green)
      &:hover
        background-color: black
        .header__link
          color: white
    &__link
      padding:
        top: calc(min(20px, 3.5vh))
        left: 30px
        bottom: calc(min(20px, 3.5vh))
      transition: color .35s
      color: black


  .main
    .find-tour
      &__heading
        display: none
      &__body
        height: auto
      &__image-wrapper
        top: -30px
        left: 50%
        transform: translateX(-50%)
        height: clamp(175px, 100%, 260px)
        width: clamp(260px, 85%, 390px)
      &__booking
        margin-top: 40px
        flex-direction: column
      &__form
        flex-direction: column
      &__form-item
        display: flex
        align-items: center
        height: 50px
        width: 100%
        border: none
        &:nth-child(1), &:nth-child(2)
          .find-tour__form-input
            padding-right: 25px
            text-align: right
        &:nth-child(3), &:nth-child(4)
          width: auto
          margin-left: 0
          .find-tour__form-input
            margin-left: 0
          .fa-plus
            margin-left: auto
      &__form-label
        padding-left: 15px
      &__form-input
        height: auto
        width: 150px
        margin-left: auto
      &__form-submit
        border-bottom-left-radius: 12px
        border-top-right-radius: 0
        height: 50px
        width: 100%
      &__autocomplete-list
        right: 0

    .advantages
      margin-top: 50px

    .help
      &__heading
        margin-top: 0
    &__body
      margin-top: 30px
      grid-template-areas: "sort filters" "tours tours"
      grid-template-columns: minmax(150px, auto) auto
      grid-template-rows: 45px auto
      grid-column-gap: 10px

      .sort
        align-self: center
        margin-bottom: 0
      .filters
        &__content
          display: flex
          flex-direction: column
        .rate
          width: 195px
          // Для дизэйбла горизонтального скрола
          label
            &:before
              font-size: 25px
              margin-right: 10px
            &:first-child:before
              margin-left: 0
          input:checked ~ label:before
            color: yellow !important
          label:hover:before,
          label:hover ~ label:before
            color: darken(yellow, 5%)
        .wrap
          grid-template: repeat(2, max-content) calc(var(--range-height) + 4px)/ 1fr 1fr
          &:before, &:after
            z-index: 0
            background-color: white
          output
            margin-bottom: 10px

          input[type='range']
            height: 100%
            padding: 0
            pointer-events: none
            background: none

            &::-webkit-slider-thumb
              width: calc(var(--range-height) + 12px)
              height: calc(var(--range-height) + 12px)
              position: relative
              z-index: 1
            &::-moz-range-thumb
              width: calc(var(--range-height) + 12px)
              height: calc(var(--range-height) + 12px)
              position: relative
              z-index: 1
        &__heading
          cursor: pointer
          padding: 10px 0
          display: block
          .fa-filter
            font-size: 12px
            color: lightseagreen
            padding: 5px
        &__submit
          margin-top: auto
          min-height: 60px
          line-height: 60px
          &:hover
            background-color: black
            color: var(--accent-green)
        &__item
          overflow: visible
          padding: 15px 10px
          border-bottom: 2px solid black
          background-color: var(--accent-green)
          &:first-child
            padding: 10px
          &:last-child
            border: none
        &__item-input,
        &__item-content
          font-size: 16px
          color: black
        &__content
          left: 100%
          z-index: 2
          position: fixed
          top: var(--header-height)
          right: 0
          bottom: 0
          overflow-y: scroll
          background-color: var(--accent-green)
          transition: left .5s
          overflow-x: hidden
          &--active
            left: clamp(50px, 35%, 300px)
        &__autocomplete-list
          left: 1.5%
          right: 1.5%
          border: none
          box-shadow: none
        &__autocomplete-item
          padding: 15px
          &--selected
            color: rgba(255, 255, 255, 1)
            background-color: black

    .tour-info
      display: grid
      margin-bottom: 0
      &__image-wrapper
        justify-self: center
        margin-bottom: 30px
        min-width: auto
      &__desc
        padding:
          left: 0


    .article
      margin: 40px auto
      &__desc
        &:first-letter
          padding-left: 0


    .review
      margin-top: 40px
      &__item
        margin: 30px 0
      &__headline
        margin-bottom: 10px


    .add-review
      &__submit
        padding: 0 calc(max(2%, 5px))
      &__text
        min-height: 140px

  .footer
    margin-top: 60px
    padding: 25px 0
    &__column
      &:nth-child(2)
        text-align: right
      &:last-child
        text-align: center
    &__inner
      display: flex
      flex-wrap: wrap
      justify-content: space-between


@media (max-width: 520px)
  .footer
    &__column
      border-bottom: 2px solid var(--accent-green)
      &:first-child
        text-align: center
      &:nth-child(2)
        text-align: center
      &:last-child
        border-bottom: none
    &__inner
      display: flex
      flex-wrap: wrap
      justify-content: center