@import "initial"

// <--- Шапка --->
.header
  grid-area: header
  font-weight: 700
  &__body
    display: flex
    align-items: center
    height: var(--header-height)
  &__logo
    // ОТРЕДАКТИРОВАТЬ СТИЛИ ПОСЛЕ ДОБАВЛЕНИЯ КАРТИНКИ
    align-self: stretch
    margin-right: auto
    display: flex
    justify-content: center
    align-items: center
    width: 120px
    border: 2px dashed deeppink
  &__nav
    display: flex
  &__item
    margin-left: calc(min(1.5vw, 20px))
    border-radius: 20px
    transition: background-color .35s
    // Наведение
    &:hover
      background-color: #efefef
    // Последний элемент
    &:last-child
      background-color: black
      .header__link
        color: white
      &:hover
        background-color: var(--accent-green)
        .header__link
          color: black
    // Активный элемент
    &--active
      background-color: #efefef
      &:hover
        background-color: lighten(#efefef, 2%)
  &__link
    padding: 6px 12px
    transition: color .35s
    color: black



// <--- Основной контент --->
.main
  grid-area: main
  //  <-- index.html -->
  .find-tour
    margin-top: 50px
    &__left
      position: relative
      z-index: 1
      max-width: 750px
    &__body
      height: 370px
      background-color: #eafaf4
      position: relative
      border-radius: 12px
      padding:
        top: 25px
        bottom: 50px
        left: calc(min(60px, 4%))
        right: calc(min(60px, 4%))
    &__image-wrapper
      background-image: url("../img/home_hero_got_illustration.svg")
      background-repeat: no-repeat
      background-size: contain
      position: absolute
      right: 0
      bottom: -80px
      height: 389px
      width: 585px
    &__heading
      margin-bottom: 30px
    &__booking
      display: flex
      flex-direction: row
      background-color: white
      border-radius: 12px
    &__form
      display: flex
      flex-direction: row
    &__form-item
      position: relative
      height: 120px
      width: 170px
      text-align: center
      border-right: 1px solid #efefef
      &:nth-child(3), &:nth-child(4)
        width: calc(min(150px, 25%))
        .find-tour__form-input
          cursor: default
          width: 30px
          padding: 0
        .fa-plus, .fa-minus
          font-size: 11px
          padding: 15px
          position: relative
          top: -3px
          &:hover
            cursor: pointer
            color: lightseagreen
    &__form-label
      height: 40px
      line-height: 40px
      display: block
      font-size: 13px
      font-weight: 700
      color: rgba(0, 0, 0, .8)
    &__form-input
      cursor: pointer
      font-family: 'Comfortaa', sans-serif
      font-size: 18px
      font-weight: 700
      text-transform: uppercase
      text-align: center
      padding: 0 15px
      width: 100%
      height: 80px
    &__form-submit
      border-bottom-right-radius: 12px
      border-top-right-radius: 12px
      cursor: pointer
      font-family: 'Comfortaa', sans-serif
      color: white
      width: calc(min(200px, 26%))
      background-color: rgba(0, 0, 0, 1)
      &:hover
        background-color: rgba(0, 0, 0, .9)
    &__autocomplete-list
      z-index: 1
      position: absolute
      top: 90%
      left: 0
      right: -65%
      border-radius: 0.6rem
      background-color: white
      box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15)
      border: 1px solid rgba(33, 33, 33, 0.07)
      overflow: hidden
    &__autocomplete-item
      font-weight: 600
      padding: 10px
      color: rgba(0, 0, 0, .7)
      background-color: rgba(255, 255, 255, 1)
      white-space: nowrap
      /* Overflow beginning of string */
      overflow: hidden
      text-overflow: ellipsis
      direction: rtl
      &--selected
        color: rgba(0, 0, 0, 1)
        background-color: var(--accent-green)


  .advantages
    margin-top: calc(70px + 90px)
    background-color: #f1f2f8
    &__body
      position: relative
      display: flex
      flex-wrap: wrap
      justify-content: space-around
    &__item
      margin:
        top: clamp(20px, 8vw, 50px)
        bottom: clamp(20px, 10vw, 70px)
      position: relative
      width: clamp(280px, 30%, 340px)
      text-align: center
      // Зеленая линия
      &:after
        content: ''
        position: absolute
        left: 50%
        bottom: -20px
        height: 2px
        width: 20px
        transform: translateX(-50%)
        background-color: lightseagreen
        transition-property: width, background-color
        transition-duration: .5s
      &:hover:after
        background-color: green
        width: 50%
    &__item-heading
      margin-top: 25px
      font-size: 18px
    &__item-text
      margin-top: 5px
      font-size: 14px
      font-weight: 400
      color: rgba(0, 0, 0, .7)
    &__item-image-wrapper
      display: flex
      justify-content: center
    &__item-image
      height: 256px


  .popular-tours
    margin-top: 80px

  .faq
    margin-top: 70px
    &__item
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    &__item-heading
      cursor: pointer
      position: relative
      border-radius: 12px
      font-family: 'Comfortaa', sans-serif
      font-size: 17px
      color: #444
      padding:
        top: 20px
        bottom: 20px
        left: clamp(10px, 3%, 25px)
      background-color: #efefef
      width: 100%
      text-align: left
      transition: background-color 0.4s
      &:hover, &:active
        background-color: #ccc
      // <-- Стрелка -->
      &:after, &:before
        content: ''
        position: absolute
        top: 50%
        right: 20px
        width: 3px
        height: 12px
        background-color: lightseagreen
        transition: transform .5s
      &:after
        transform: translate(-110%, -50%) rotate(-45deg)
      &:before
        transform: translate(110%, -50%) rotate(45deg)
      &--active
        background-color: #efefef
        &:after
          transform: translate(110%, -50%) rotate(-45deg)
        &:before
          transform: translate(-110%, -50%) rotate(45deg)
    &__item-answer
      display: none
      overflow: hidden
      padding:
        top: 20px
        right: calc(max(20px, 10%))
        bottom: 20px
        left: calc(min(45px, 10%))

  //  <-- about.html -->
  .about
    margin-top: 50px
    padding:
      left: calc(min(50px, 5%))
      right: calc(min(30px, 3%))
    &__heading
      font-size: 32px
      text-align: center
    &__text
      margin: 25px 0


  //  <-- help.html -->
  .help
    &__heading
      margin-top: 40px
      margin-bottom: 40px
      font-size: 32px
      text-align: center
    &__article
      margin-bottom: 30px
    &__article-heading
      margin-bottom: 10px
    &__article-text
      padding:
        left: calc(min(40px, 4%))
        right: calc(min(30px, 3%))


  //  <-- find-tour.html -->
  &__body
    margin-top: 60px
    display: grid
    grid-column-gap: 60px
    grid-template-columns: minmax(150px, 15%) 3fr
    grid-template-rows: 45px auto
    grid-template-areas: "filters sort" "filters tours"
    .filters
      grid-area: filters
      &__list
        margin-bottom: 30px
      &__heading
        display: none
        font-size: 15px
        font-weight: 600
        text-align: right
      &__item
        position: relative
        padding: 15px 0
        border-bottom: 1px solid lightgrey
        &:first-child
          padding-top: 0
        &:last-child
          border-bottom: none
      &__item-label
        margin-bottom: 5px
        display: block
        color: rgba(0, 0, 0, .8)
        font-weight: 700
        font-size: 15px
      &__item-input
        width: 100%
        border: 1px solid var(--select-border)
        font-size: 17px
        cursor: pointer
      &__autocomplete-list
        z-index: 1
        position: absolute
        top: 90%
        left: 0
        right: 0
        border-radius: 0.6rem
        background-color: white
        box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15)
        border: 1px solid rgba(33, 33, 33, 0.07)
        overflow: hidden
      &__autocomplete-item
        font-weight: 600
        padding: 10px
        color: rgba(0, 0, 0, .7)
        background-color: rgba(255, 255, 255, 1)
        white-space: nowrap
        /* Overflow beginning of string */
        overflow: hidden
        text-overflow: ellipsis
        direction: rtl
        &--selected
          color: rgba(0, 0, 0, 1)
          background-color: var(--accent-green)



      &__item-content
        padding-left: 5px
        font-weight: 700
        font-size: 17px
        color: rgba(0, 0, 0, 1)
      &__submit
        font-weight: 700
        cursor: pointer
        background-color: black
        color: white
        font-size: 17px
        height: 40px
        width: 100%
        transition-property: background-color, color
        transition-duration: .5s
        &:hover
          background-color: var(--accent-green)
          color: black
    .tours
      grid-area: tours
      margin-top: 0
    .sort
      grid-area: sort
      justify-self: start
      position: relative
      cursor: pointer
      margin-bottom: 20px

      &__list
        width: 180px
      &__heading
        font-weight: 600
        font-size: 15px

        // <-- Стрелка -->
        &:after, &:before
          content: ''
          position: absolute
          top: 50%
          right: -20px
          width: 2px
          height: 8px
          background-color: lightseagreen
          transition: transform .5s
        &:after
          transform: translate(-110%, -50%) rotate(-45deg)
        &:before
          transform: translate(110%, -50%) rotate(45deg)
        &--active
          &:after
            transform: translate(110%, -50%) rotate(-45deg)
          &:before
            transform: translate(-110%, -50%) rotate(45deg)


// <--- Подвал --->
.footer
  grid-area: footer
  position: relative
  width: 90%
  border: 2px dashed deeppink
  margin: 0 auto
  margin-top: 100px
  height: 150px
  &:before
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: deeppink
    font-size: 60px
    content: 'Подвал'



// Disable overlay when orientation is changing
@media (min-width: 860px)
  .body
    &--scroll-lock
      overflow: scroll
  .overlay
    &--show
      left: 100%


@media (max-width: 860px)
  .hamburger
    display: flex
  .go-top
    display: none
  input[type="range"]
    height: calc(var(--range-height) + 20px)
    background-color: white
    padding: 0 5px
    &:active, &:focus, &:hover
      background-color: white
    &::-webkit-slider-thumb
      width: calc(var(--range-height) + 4px)
      height: calc(var(--range-height) + 4px)
    &::-moz-range-thumb
      width: calc(var(--range-height) + 4px)
      height: calc(var(--range-height) + 4px)


  .header
    font-weight: 700
    &__menu
      z-index: 2
      position: fixed
      background-color: var(--accent-green)
      bottom: 0
      left: 100%
      right: 0
      top: var(--header-height)
      transition: left .45s
      &--active
        left: clamp(50px, 35%, 300px)
    &__nav
      height: 100%
      display: flex
      flex-direction: column
    &__item
      overflow: hidden
      margin-left: 0
      border-radius: 0
      transition: background-color .35s
      background-color: transparent
      &--active
        background-color: black
        .header__link
          color: white
        &:hover
          .header__link
            color: var(--accent-green)
      &:last-child
        margin-top: auto
        &:hover
          background-color: black
          .header__link
            color: var(--accent-green)
      &:hover
        background-color: black
        .header__link
          color: white
    &__link
      padding:
        top: calc(min(20px, 3.5vh))
        left: 30px
        bottom: calc(min(20px, 3.5vh))
      transition: color .35s
      color: black


  .main
    .find-tour
      &__heading
        display: none
      &__body
        height: auto
      &__image-wrapper
        top: -30px
        left: 50%
        transform: translateX(-50%)
        height: clamp(175px, 100%, 260px)
        width: clamp(260px, 85%, 390px)
      &__booking
        margin-top: 40px
        flex-direction: column
      &__form
        flex-direction: column
      &__form-item
        display: flex
        align-items: center
        height: 50px
        width: 100%
        border: none
        &:nth-child(3), &:nth-child(4)
          width: auto
          margin-left: 0
          .find-tour__form-input
            margin-left: 0
          .fa-plus
            margin-left: auto
      &__form-label
        padding-left: 15px
      &__form-input
        height: auto
        width: 150px
        margin-left: auto
      &__form-submit
        height: 50px
        width: 100%
      &__autocomplete-list
        right: 0

    .advantages
      margin-top: 50px

    &__body
      margin-top: 30px
      grid-template-areas: "sort filters" "tours tours"
      grid-template-columns: minmax(150px, auto) auto
      grid-template-rows: 45px auto
      grid-column-gap: 10px

      .sort
        align-self: center
        margin-bottom: 0
      .filters
        .rate
          width: 195px
          // Для дизэйбла горизонтального скрола
          label
            &:before
              font-size: 25px
              margin-right: 10px
            &:first-child:before
              margin-left: 0
          input:checked ~ label:before
            color: yellow !important
          label:hover:before,
          label:hover ~ label:before
            color: lighten(#04AA6D, 10%)
        .wrap
          grid-template: repeat(2, max-content) calc(var(--range-height) + 4px)/ 1fr 1fr
          &:before, &:after
            z-index: 0
            background-color: white
          output
            margin-bottom: 10px

          input[type='range']
            height: 100%
            padding: 0
            pointer-events: none
            background: none

            &::-webkit-slider-thumb
              width: calc(var(--range-height) + 12px)
              height: calc(var(--range-height) + 12px)
              position: relative
              z-index: 1
            &::-moz-range-thumb
              width: calc(var(--range-height) + 12px)
              height: calc(var(--range-height) + 12px)
              position: relative
              z-index: 1
        &__heading
          padding: 10px 0
          display: block
          .fa-filter
            font-size: 12px
            color: lightseagreen
            padding: 5px
        &__submit
          height: 60px
          &:hover, &:active, &:focus
            background: black
            color: white
            opacity: .85
        &__item
          overflow: visible
          padding: 15px 10px
          border-bottom: 2px solid black
          background-color: var(--accent-green)
          &:first-child
            padding: 10px
          &:last-child
            border: none
        &__item-input,
        &__item-content
          font-size: 16px
          color: black
          font-weight: 700
        &__content
          left: 100%
          z-index: 2
          position: fixed
          top: var(--header-height)
          right: 0
          bottom: 0
          overflow-y: scroll
          background-color: var(--accent-green)
          transition: left .5s
          overflow-x: hidden
          &--active
            left: clamp(50px, 35%, 300px)
        &__autocomplete-list
          left: 1.5%
          right: 1.5%
          border: none
          box-shadow: none
        &__autocomplete-item
          padding: 15px
          &--selected
            color: rgba(255, 255, 255, 1)
            background-color: black

